footer, .footer {
  display: none;
}

.pageLayout__footer {
  display: none;
}

[class*="footer"] {
  display: none;
}

@media print {
  footer, .footer, .pageLayout__footer, [class*="footer"] {
    display: none;
  }
}
